{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New creds</legend>
                <div class="form-group">
                    {{ form.website.label(class="form-control-label") }}

                    {% if form.website.errors %}
                        {{ form.website(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.website.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.website(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <small class="text-muted ml-2">
                <a href="{{ url_for('console') }}">Console</a>
            </small>
            <small class="text-muted ml-2">
                <a href="{{ url_for('logout') }}">Logout</a>
            </small>
        </form>
    </div>
{% endblock content %}